<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CompanyRegister</servlet-name>
        <servlet-class>backend.CompanyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>backend.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>backend.CompanyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySocialLogin</servlet-name>
        <servlet-class>backend.CompanySocialLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyPost</servlet-name>
        <servlet-class>backend.CompanyPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInternship</servlet-name>
        <servlet-class>backend.GetInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCompanyProfile</servlet-name>
        <servlet-class>backend.GetCompanyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>backend.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Outbox</servlet-name>
        <servlet-class>backend.Outbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INBOX</servlet-name>
        <servlet-class>backend.INBOX</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyProfile</servlet-name>
        <servlet-class>backend.CompanyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Getinternshipbyname</servlet-name>
        <servlet-class>backend.Getinternshipbyname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchbyfiled</servlet-name>
        <servlet-class>backend.Searchbyfiled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchbyDuriction</servlet-name>
        <servlet-class>backend.SearchbyDuriction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByLocation</servlet-name>
        <servlet-class>backend.SearchByLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>backend.Apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppliedInternship</servlet-name>
        <servlet-class>backend.AppliedInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApplyed</servlet-name>
        <servlet-class>backend.GetApplyed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyPost</servlet-name>
        <url-pattern>/CompanyPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRegister</servlet-name>
        <url-pattern>/CompanyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/CompanyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySocialLogin</servlet-name>
        <url-pattern>/CompanySocialLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInternship</servlet-name>
        <url-pattern>/GetInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompanyProfile</servlet-name>
        <url-pattern>/GetCompanyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Outbox</servlet-name>
        <url-pattern>/Outbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INBOX</servlet-name>
        <url-pattern>/INBOX</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyProfile</servlet-name>
        <url-pattern>/CompanyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Getinternshipbyname</servlet-name>
        <url-pattern>/Getinternshipbyname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchbyfiled</servlet-name>
        <url-pattern>/Searchbyfiled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchbyDuriction</servlet-name>
        <url-pattern>/SearchbyDuriction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByLocation</servlet-name>
        <url-pattern>/SearchByLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppliedInternship</servlet-name>
        <url-pattern>/AppliedInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplyed</servlet-name>
        <url-pattern>/GetApplyed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
